@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 224 71% 4%; /* Deep blue-based background */
    --popover-foreground: 0 0% 98%;
    --primary: 225, 100%, 50%; /* Blue primary color */
    --primary-foreground: 0 0% 100%; /* White foreground for contrast */
    --secondary: 155, 89%, 59%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.7% 46.9%; /* Slightly darker for better readability */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%; /* Bright white for primary text */
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%; /* Deep blue-based background */
    --popover-foreground: 0 0% 98%;
    --primary: 225, 100%, 50%; /* Blue primary color */
    --primary-foreground: 0 0% 100%; /* White foreground for contrast */
    --secondary: 155, 89%, 59%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 68.9%; /* Softer, more readable muted text */
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes reveal {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal {
  @apply transition-all duration-500;
  animation: reveal 0.5s ease forwards;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.branch-item {
  transition: transform 0.3s ease;
}

.scale-up {
  transform: scale(1.1);
}

.scale-down {
  transform: scale(1);
}

@keyframes expand {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 24rem;
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    max-height: 24rem;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
